name: ci

on:
- pull_request
- push

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        name:
        - Node.js 0.10
        - Node.js 0.12
        - io.js 1.x
        - io.js 2.x
        - io.js 3.x
        - Node.js 4.x
        - Node.js 5.x
        - Node.js 6.x
        - Node.js 7.x
        - Node.js 8.x
        - Node.js 9.x
        - Node.js 10.x
        - Node.js 11.x
        - Node.js 12.x
        - Node.js 13.x
        - Node.js 14.x
        - Node.js 15.x
        - Node.js 16.x
        - Node.js 17.x
        - Node.js 18.x
        - Node.js 19.x

        include:
        - name: Node.js 0.10
          node-version: "0.10"
          npm-i: mocha@3.5.3 nyc@10.3.2 supertest@2.0.0

        - name: Node.js 0.12
          node-version: "0.12"
          npm-i: mocha@3.5.3 nyc@10.3.2 supertest@2.0.0

        - name: io.js 1.x
          node-version: "1.8"
          npm-i: mocha@3.5.3 nyc@10.3.2 supertest@2.0.0

        - name: io.js 2.x
          node-version: "2.5"
          npm-i: mocha@3.5.3 nyc@10.3.2 supertest@2.0.0

        - name: io.js 3.x
          node-version: "3.3"
          npm-i: mocha@3.5.3 nyc@10.3.2 supertest@2.0.0

        - name: Node.js 4.x
          node-version: "4.9"
          npm-i: mocha@5.2.0 nyc@11.9.0 supertest@3.4.2

        - name: Node.js 5.x
          node-version: "5.12"
          npm-i: mocha@5.2.0 nyc@11.9.0 supertest@3.4.2

        - name: Node.js 6.x
          node-version: "6.17"
          npm-i: mocha@6.2.2 nyc@14.1.1 supertest@3.4.2

        - name: Node.js 7.x
          node-version: "7.10"
          npm-i: mocha@6.2.2 nyc@14.1.1 supertest@6.1.6

        - name: Node.js 8.x
          node-version: "8.17"
          npm-i: mocha@7.2.0

        - name: Node.js 9.x
          node-version: "9.11"
          npm-i: mocha@7.2.0

        - name: Node.js 10.x
          node-version: "10.24"
          npm-i: mocha@8.4.0

        - name: Node.js 11.x
          node-version: "11.15"
          npm-i: mocha@8.4.0

        - name: Node.js 12.x
          node-version: "12.22"
          npm-i: mocha@9.2.2

        - name: Node.js 13.x
          node-version: "13.14"
          npm-i: mocha@9.2.2

        - name: Node.js 14.x
          node-version: "14.20"

        - name: Node.js 15.x
          node-version: "15.14"

        - name: Node.js 16.x
          node-version: "16.19"

        - name: Node.js 17.x
          node-version: "17.9"

        - name: Node.js 18.x
          node-version: "18.14"

        - name: Node.js 19.x
          node-version: "19.7"

    steps:
    - uses: actions/checkout@v3

    - name: Install Node.js ${{ matrix.node-version }}
      shell: bash -eo pipefail -l {0}
      run: |
        nvm install --default ${{ matrix.node-version }}
        dirname "$(nvm which ${{ matrix.node-version }})" >> "$GITHUB_PATH"

    - name: Configure npm
      run: |
        npm config set loglevel error
        if [[ "$(npm config get package-lock)" == "true" ]]; then
          npm config set package-lock false
        else
          npm config set shrinkwrap false
        fi

    - name: Install npm module(s) ${{ matrix.npm-i }}
      run: npm install --save-dev ${{ matrix.npm-i }}
      if: matrix.npm-i != ''

    - name: Remove non-test dependencies
      run: npm rm --silent --save-dev connect-redis

    - name: Setup Node.js version-specific dependencies
      shell: bash
      run: |
        # eslint for linting
        # - remove on Node.js < 12
        if [[ "$(cut -d. -f1 <<< "${{ matrix.node-version }}")" -lt 12 ]]; then
          node -pe 'Object.keys(require("./package").devDependencies).join("\n")' | \
            grep -E '^eslint(-|$)' | \
            sort -r | \
            xargs -n1 npm rm --silent --save-dev
        fi

    - name: Install Node.js dependencies
      run: npm install

    - name: List environment
      id: list_env
      shell: bash
      run: |
        echo "node@$(node -v)"
        echo "npm@$(npm -v)"
        npm -s ls ||:
        (npm -s ls --depth=0 ||:) | awk -F'[ @]' 'NR>1 && $2 { print $2 "=" $3 }' >> "$GITHUB_OUTPUT"

    - name: Run tests
      shell: bash
      run: |
        npm run test-ci
        cp coverage/lcov.info "coverage/${{ matrix.name }}.lcov"

    - name: Lint code
      if: steps.list_env.outputs.eslint != ''
      run: npm run lint

    - name: Collect code coverage
      run: |
        mv ./coverage "./${{ matrix.name }}"
        mkdir ./coverage
        mv "./${{ matrix.name }}" "./coverage/${{ matrix.name }}"

    - name: Upload code coverage
      uses: actions/upload-artifact@v3
      with:
        name: coverage
        path: ./coverage
        retention-days: 1

  coverage:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install lcov
      shell: bash
      run: sudo apt-get -y install lcov

    - name: Collect coverage reports
      uses: actions/download-artifact@v3
      with:
        name: coverage
        path: ./coverage

    - name: Merge coverage reports
      shell: bash
      run: find ./coverage -name lcov.info -exec printf '-a %q\n' {} \; | xargs lcov -o ./coverage/lcov.info

    - name: Upload coverage report
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: us-east-1
      TERRAFORM_CLI_PATH: /home/runner/work/_temp/e4f4acf8-d18a-44c5-87ce-c75358ff8cc1

    steps:
      - uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: '1.1.0'

      - name: Terraform Init
        run: |
          cd .
          terraform init

      - name: Terraform Plan
        id: terraform-plan
        run: |
          cd .
          terraform plan -out=tfplan -var "image_tag=${{ github.sha }}"

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: |
          cd .
          terraform apply -auto-approve tfplan
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry: 765535404431.dkr.ecr.us-east-1.amazonaws.com/my-demo-app
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          skip-logout: false
          registry-type: private
          region: ${{ env.AWS_REGION }}

      - name: Build and push Docker image
        env:
          ECR_REGISTRY: 765535404431.dkr.ecr.us-east-1.amazonaws.com/my-demo-app
        run: |
          docker build -t $ECR_REGISTRY/my-demo-app .
          docker tag $ECR_REGISTRY/my-demo-app:latest $ECR_REGISTRY/my-demo-app:$GITHUB_SHA
          docker push $ECR_REGISTRY/my-demo-app:latest
          docker push $ECR_REGISTRY/my-demo-app:$GITHUB_SHA

      - name: Deploy to ECS+Fargate
        env:
          AWS_ACCOUNT_ID: 765535404431
          AWS_ECS_CLUSTER_NAME: demo-cluster
          AWS_ECS_SERVICE_NAME: demo-service
          AWS_ECR_REGISTRY: 765535404431.dkr.ecr.us-east-1.amazonaws.com/my-demo-app
        run: |
          aws ecs update-service \
            --cluster $AWS_ECS_CLUSTER_NAME \
            --service $AWS_ECS_SERVICE_NAME \
            --force-new-deployment \
            --region $AWS_REGION \
            --deployment-controller '{"type": "ECS"}' \
            --task-definition "{\"containerDefinitions\": [{\"name\": \"my-demo-app\",\"image\": \"$AWS_ECR_REGISTRY/my-demo-app:$GITHUB_SHA\",\"essential\": true,\"portMappings\": [{\"containerPort\": 3000,\"hostPort\": 3000}]}],\"family\": \"my-demo-app\"}"
      
      